<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Spring Framework Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/demo.css"
          th:href="@{css/demo.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hello</h1>
 
        <h2>Fellow Spring Framework Apprentices !!!</h2>

        <img src="../static/images/Star-Wars-Minions.png" width="1000"
             th:src="@{images/Star-Wars-Minions.png}"/>
             
        <h2 th:text="${greeting}">Greetings !</h2>
    </div>
</div>
</body>
</html>
